.neighborhood h2 {
  text-align: center;
}
.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}
.box {
  min-width: 310px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
